<!--LOGO-->
<div class="center"><img src="<%= root_url %>/images/h-logo.jpg" /></div>
<!--导航-->
<div id="link_box">
  <ul>
  <li><a href="<%= root_url %>" class="link_dh">首 页</a></li>
  <li><a href="<%= zizhi_daiban_path %>" class="link_dh">资质代办</a></li>
  <li><a href="<%= zizhi_daiban_path %>" class="link_dh">资质转让</a></li>
  <li><a href="<%= zizhi_daiban_path %>" class="link_dh">资质挂靠</a></li>
  <li><a href="人员挂靠=已验证简历.html" class="link_dh">人员挂靠</a></li>
  <li><a href="公司黄页-资质公司.html" class="link_dh">公司黄页</a></li>
  <li><a href="建筑培训-建筑培训.html" class="link_dh">建筑培训</a></li>
  <li><a href="招聘求职-招聘.html" class="link_dh">企业招聘</a></li>
  <li><a href="#" class="link_dh">资质查询</a></li>
  </ul>
</div>