/ column search
= render partial: 'common/theme_jianzhu/column_search_nav'

/ 要闻发布/政治解读
= render partial: 'common/theme_jianzhu/column_content_01', locals: { news: @news, policies: @policies }

/ 资质代办
= render partial: 'common/theme_jianzhu/column_content_zizhi'

/ 广告
= render partial: 'common/theme_jianzhu/column_content_advertising_01'

/ 资质块 开始
= render partial: 'common/theme_jianzhu/column_content_segment'

/ 信息集合
= render partial: 'common/theme_jianzhu/column_content_information'

/ 广告
= render partial: 'common/theme_jianzhu/column_content_advertising_02'

/ 常用网址
= render partial: 'common/theme_jianzhu/column_useful_links'

/ 尾部信息
= render partial: 'common/theme_jianzhu/column_foot'