<div class="center">
  <div id="hy_dl_1">
    <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :id => "form1", :name => "form1") do |f| %>
      <div class="hy_dl_2">
        <div class="hy_dl_3"><span class="txt_2">*</span> 手机号：</div>
        <div class="hy_dl_4"><input name="<%= resource_name %>[email]" type="email" class="dl_sr" /></div>
      </div>
      <div class="left"><img src="<%= root_url %>/images/tm.png" width="449px" height="32px" /></div>
      <div class="hy_dl_2">
        <div class="hy_dl_3"><span class="txt_2">*</span> 密&nbsp;&nbsp;码：</div>
        <div class="hy_dl_4a"><input name="<%= resource_name %>[password]" type="password" class="dl_sr" /></div>
      </div>
      <div class="hy_dl_5">
        <div class="left"><input type="checkbox" name="<%= resource_name %>[remember_me]" value="checkbox" /></div>
        <div class="left">&nbsp;下次记住密码</div>
      </div>
      <div class="hy_dl_5">
        <%#= f.button :submit, "", style: "background-image:url('../images/member/m1_r7_c3.jpg');width:236px;height:43px" %>
        <input name="image" type="image" src='../images/member/m1_r7_c3.jpg' width="236" height="43" />
      </div>
    <% end %>
  </div>

  <div class="hy_dl_6">
    还没有账号？
    <a href="#" class="link_4">立即注册！</a>
    <div class="left"><img src="<%= root_url %>/images/tm.png" width="396" height="50" /></div>
    <div class="left"><img src="<%= root_url %>/images/member/m1_r4_c5.jpg" /></div>
    <div class="left"><img src="<%= root_url %>/images/tm.png" width="396" height="25" /></div>
    <div class="left"><a href="#" class="dla_1"></a></div>
    <div class="left"><img src="<%= root_url %>/images/tm.png" width="108" height="42" /></div>
    <div class="left"><a href="#" class="dla_2"></a></div>
  </div>
</div>