<!--内容开始-->
<div class="center"><img src="<%= root_url %>/images/release/bt_1.jpg" width="1010" height="78" /></div>
<div class="center">
  <div id="member">
    <div class="member_k">
    <p><span class="txt_3">个 人</span></p>
    <a href="<%= home_publish_path %>/1" class="fabu_txt">- 个人挂证</a><br />
    <a href="<%= home_publish_path %>/2" class="fabu_txt">- 全职简历</a>    </div>
    <div class="left"><img src="<%= root_url %>/images/release/fgx_r1_c2.jpg" /></div>
  
    <div class="member_k">
    <p><span class="txt_3">企 业</span></p>
    <a href="<%= home_publish_path %>/3" class="fabu_txt">- 企业聘证</a><br />
    <a href="<%= home_publish_path %>/4" class="fabu_txt">- 全职招聘</a>    </div>
  <div class="left"><img src="<%= root_url %>/images/release/fgx_r1_c2.jpg" /></div>
  
    <div class="member_k">
    <p><span class="txt_3">猎 头</span></p>
    <a href="<%= home_publish_path %>/5" class="fabu_txt">- 猎头聘证</a><br />
    <a href="<%= home_publish_path %>/6" class="fabu_txt">- 猎头挂证</a><br />
    <a href="<%= home_publish_path %>/7" class="fabu_txt">- 全职招聘</a><br />
    <a href="<%= home_publish_path %>/8" class="fabu_txt">- 培训信息</a><br />
    <a href="<%= home_publish_path %>/9" class="fabu_txt">- 资质代办(新版)</a><br />
    <a href="<%= home_publish_path %>/10" class="fabu_txt">- 资质代办(旧版)</a>    </div>
  </div>
</div>
<div class="center"><img src="<%= root_url %>/images/release/fgx_r2_c1.jpg" width="1010" height="25" /></div>